

.task {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 3.75rem;
}


.task input {
    background-color: var(--gray-500);
    color: var(--gray-300);
    width: 40rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1rem;
}

.task button {
    background-color: var(--blue-500);
    color: var(--white);
    cursor: pointer;
    width: 5.625rem;
    padding: 1rem;
    height: 100%;
    border-radius: 8px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 0.875rem;
}


.task button:hover {
    opacity: 0.9;
}

.task button:disabled {
    opacity: 0.6;
}


